html{
overflow-x: hidden;
}

body{
  line-height: 1.8;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  -webkit-transition: 3s all ease;
  -o-transition: 3s all ease;
  transition: .3s all ease;
  color: #4586FF;
}
  a:hover {
    text-decoration: none;
  }

h1, h2, h3, h4, h5 {
  line-height: 1.45;
  font-weight: normal;
  color: #000;
}

/* COLORS */
.bg-primary {
  background: #7C1D21 !important;
}
.bg-secondary {
  background: #E1E1E8 !important;
}
.bg-info {
  background: #2273AA !important;
}
.btn-info {
  background: #2273AA !important;
}
.bg-danger {
  background: #E74E4E !important;
}
.bg-success {
  background: ##50CD9C !important;
}
.bg-dark {
  background: #263650 !important;
}
.btn-dark {
  background: #263650 !important;
}
.bg-light {background: #F7F7F7 !important;}

.bg-secondary-up {
  background-image: linear-gradient(to top, #E1E1E8 0%, #F7F7F7 100%);
}



.navbar-brand {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.dof-cover {
  height: 120vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  /* #C52B3E */
  background-image: linear-gradient(45deg, #7C1D21 0%, #99141A 99%, #C52B3E 100%);
  /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
}
  @media only screen and (max-height: 700px) {
    .dof-cover {
      height: 300vh;
    }
  }
  .dof-cover h1 {
    color:#fff;
    font-size: 4rem;
  }

.dof-masthead {
  position: relative;
  margin: 0;
  padding: 0;
}

#curve {
  position: absolute;
  bottom: -1px;
  width: 100%;
}
#curve path {
  fill: #F7F7F7;
}
/*
.dof-slant-header:before {
  position: absolute;
  content: '';
  width: 60%;
  height: 155px;
  top:-50px;
  left:0;
  background: #F7F7F7;
  transform: skewY(10deg);
}

.dof-slant-header::after {
  position: absolute;
  content: '';
  width: 60%;
  height: 125px;
  top:-50px;
  right:0;
  background: #F7F7F7;
  transform: skewY(-10deg);
} */


.dof-section,
.dof-footer {
  padding: 7em 0 7em 0;
  /* position: relative; */
}

.dof-media {
  background: #fff;
  border-top: solid 10px;
  border-color: #cccccc;
}

.media-body {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.dof-feature-icon img{
  height: 120px;
  /* width: 120px; */
}

.dof-footer {
  font-size: 16px;}
  .dof-footer .dof-footer-widget h2 {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(225, 225, 225, 0.9);
    font-weight: bold;
  color:  rgba(255, 255, 255, 0.3); }
  .dof-footer p {
    color: rgba(255, 255, 255, 0.3);}
  .dof-footer a {
    color: rgba(255, 255, 255, 0.3);}
    .dof-footer a:hover{
      color: #4586FF;
    }

    .dof-footer-social li {
      list-style: none;
      margin: 0 10px 10px 0;
      display: inline-block; }
